img {
    width: 300px;
    height: 400px;
  }
  
  iframe {
    height: 400px;
    aspect-ratio: 16 / 9;
  }
  
  h1 {
    color: rgb(202, 26, 26);
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
  }

  body {
    background-color: rgba(0, 0, 0, 0.795);
  }

  p {
    color: rgb(202, 26, 26);
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
  }

  label {
    color: rgb(202, 26, 26);
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
  }

  select {
    font-size: 20px;
  }

  button {
    font-size: 20px;
  }