html {
  background-color: rgba(0, 0, 0, 0.856);
  height: auto;
  width: auto;
}

h1 {
  padding-left: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: rgb(202, 26, 26);
  font-weight: bold;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#underline {
  color: rgb(46, 183, 235);
}

#select {
  color: rgb(202, 26, 26);
  padding-left: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}



#Movies {
  color: rgb(202, 26, 26);
  background-color: rgb(54, 52, 52);
  border-color: rgba(71, 70, 70, 0.76);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

#button {
  font-size: 20px;
  color: rgb(202, 26, 26);
  background-color: rgb(54, 52, 52);
  border-color: rgba(71, 70, 70, 0.76);
  border-width: 3px;
}

#info {
  margin-top: 0%;
  padding-left: 20px;
  color: rgb(196, 67, 67);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#vote {
  padding-left: 20px;
  color: rgb(196, 67, 67);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#overviewLabel {
  padding-left: 20px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  color: rgb(202, 26, 26);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#overviewText {
  padding-left: 20px;
  color: rgb(196, 67, 67);
  width: 660px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
#cover {
  padding-left: 20px;
  margin-top: 0%;
}

#video {
  margin-left: 20px;
  height: 370px;
  aspect-ratio: 16 / 9;
  border-width: 5px;
  border-color: rgba(71, 70, 70, 0.76);
}

